:host {
    .container {
        display: flex;
        align-items: center;
        gap: 2vw;
      }
      
      .color-box {
        width: 200px;
        height: 200px;
        transition: background-color 0.5s ease;
      }
      
      .button-group {
        display: flex;
        flex-direction: column;
      }
      
      button {
        width: 100px;
        height: 50px;
        margin-bottom: 10px;
        border: none;
        color: #000;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-transform: capitalize;
      }
      
      button:hover {
        opacity: 0.8;
      }      
}